@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background-color: rgb(253, 253, 253);
    }
}

.footer {
    position: relative;
    z-index: 0;
  }


  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  [data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  

  
  